@import url('https://fonts.googleapis.com/css?family=Poppins');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

.nav-bar {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.nav-bar img {
  width: 20px;
  margin-right: 1rem;
}

.search{
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.npm{
  width: 60px;
  margin-right: 1rem;
}

.glass{
  width:30px;
}

.gray{
  background-color: rgba(0,0,0,.05);
  width: 70%;
  margin:0.5rem;
}

.search input{
  background-color: rgba(0,0,0,.05);
  border: none;
  line-height: 300%;
  width:90%;
}

.pink-link{
  background-color: #fb3e44;
  color: white;
  border: none;
  padding: 0.8rem;
}

.link-gray{
  border: 1px solid rgba(0, 0, 0, 0.192);
  color: black;
  padding: 0.5rem;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  background-color: rgba(232,217,217,.3);
}

.shadow{
  margin: 0.5rem;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}

.main h1{
  font-size: 4rem;
  margin: 0.5rem;
}

.main aside{
  font-size: 1rem;
  max-width: 30%;
  margin: 0.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.black{
  color: black;
}

.build{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
  gap:1rem;
}

.build img{
  height:200px;
  margin: 0.5rem;
}

.build aside{
  font-size: 0.7rem;
  max-width: 40%;
  margin: 0.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

h2{
  font-size: 1.5rem;
  padding: 0.1rem 2rem;
  background-color: rgba(255,204,53,.4);
  transform: skew(9deg,0deg);
  font-style: italic;
}

.values img{
  height: 25px;
}

.values{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  gap:1rem;
  margin: 0 8rem;
  
}

h3{
  font-size: 1rem;
  color: #ED1C24;
}

.values div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  height: 100px;
}

.description{
  font-size: 0.7rem;
  max-width: 80%;
}

footer{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.black-link{
  background-color: black;
  color: white;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
  padding: 1rem 5rem;
  margin: 0.2rem;
}